.dropdown {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* position: fixed;
  top: var(--topnav-height); */
  height: fit-content;
}

.dropdown__items {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  margin: 50px 0;
}

.dropdown__header {
  padding: 10px 0;
  margin-bottom: 20px;
}
.dropdown__header > a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.dropdown__content {
  padding: 10px 0;
  font-size: small;
}
