.wishlist {
  &__item {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    // padding: 20px;
    border: $border;
    &__header,
    &__body {
      //   display: grid;
      //   grid-template-columns: 40% 10% 40% 10%;
      display: flex;
      text-align: center;
    }

    &__header {
      border-bottom: $border;
      font-weight: 600;
      span {
        padding: 20px 0;
        border-left: $border;
        flex-grow: 1;
        &:first-child,
        &:nth-child(3) {
          flex-grow: 2;
        }

        &:first-child {
          text-align: start;
          padding-left: 20px;
          //   justify-content: center;
        }
      }
    }

    &__body {
      &__item {
        flex-grow: 1;
        color: $txt-second-color;
        font-weight: 500;
        @include flex(center, center);
        padding: 20px;

        &:hover {
          color: $text-main-color;
        }

        &:first-child {
          justify-content: flex-start;
          cursor: pointer;
        }

        img {
          width: 100px;
        }

        i {
          font-size: 1.5rem;
          cursor: pointer;
        }

        button {
          background-color: $black;
          span {
            color: $white;
          }
        }
      }
      &__item:first-child,
      &__item:nth-child() {
        flex-grow: 2;
      }
    }
  }
  &__btn {
    padding: 20px;
    text-align: center;
    // width: 80%;
    button {
      background-color: $black;
      span {
        color: $white;
      }
    }
  }
  &__null {
    padding: 50px;
    margin: auto;
    font-size: 2rem;
    @include flex(center, center);
    flex-direction: column;

    i {
      font-size: 10rem;
      transform: translateY(0);
      animation-name: example;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @keyframes example {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(100%);
        }
      }
    }
  }

  @include tablet {
    &__item {
      width: 100%;
      &__body {
        // padding: 50px;
        &__item {
          button {
            // width: 50%;
            span {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }
}
